* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
    background-color: hsl(216, 50%, 16%);
    /*
    background: #50a3a2; /* Set the background color for the entire page 
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);*/
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgb(11, 31, 54);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 150;
}

form {
    padding: 20px 0;
}

input[type="text"],
input[type="password"] {
    display: block;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
}

input[type="text"]:hover,
input[type="password"]:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: white;
    width: 300px;
    color: #000804;
}

button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #131b18;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

button:hover {
    background-color: rgb(88, 151, 183);
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
