/* Resetting default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    font-weight: 300;
    /*background: #50a3a2;  Set the background color for the entire page */
    background-color: hsl(216, 50%, 16%);
    /*background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    */
}

.container {
    background-color: rgb(11, 31, 54);
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(14, 3, 3, 0.1);
}
.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.form-group label {
    flex: 0 0 150px; /* Adjust label width as needed */
    margin-right: 50px;
    margin-left: 40px; /* Adjust label and input/select spacing */
}

.form-group select,
.form-group input {
    flex: 1;
    width: calc(70px);
    /*width:100px;
    margin-right: 50px; /* Input/select takes remaining space */
}
h1 {
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 200;
    color: #fff; 
    text-align: center; /* Adjusted heading color */
}

form {
    padding: 20px 0;
}

select,
input[type="date"],
input[type="text"],
input[type="email"] {
    display: block;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 10px auto; /* Added margin */
    text-align: center;
    font-size: 18px;
    color: #fff;
    transition-duration: 0.25s;
    font-weight: 300;
}

select:hover,
input[type="date"]:hover,
input[type="text"]:hover,
input[type="email"]:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

select:focus,
input[type="date"]:focus,
input[type="text"]:focus,
input[type="email"]:focus {
    background-color: rgb(87, 120, 158);
    width: 300px;
    color: #050505;
}
#submitButton {
    background-color: #e6e6e9; /* Green */
    border: none;
    color: rgb(19, 13, 13);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

/* Hover effect */
#submitButton:hover {
    background-color: rgb(169, 174, 180);
    border: 2px solid #060706; /* Darker Green */
}

button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #0f1010;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    margin: 0 auto; /* Centers the button horizontally */
}

button:hover {
    background-color: rgb(88, 151, 183);
    text-decoration: underline;
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #fff; /* Adjusted paragraph color */
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
